
/*
 Section Settings
 Section Carousel
 Section Blog
 Section Footer
 Section Navbar
 Section Page-title
   button
 banner bottom
_______________________

Colors
000000-2b2b2b-007bff-75c6fc-ffffff

*/


/* Section Settings */

html,
body {
    height: 100%;
    font-family: 'Prompt', sans-serif;

    margin: 0;

}

.f1{
	color: orange;
}


.bg-alpha {
    background: rgba(0, 0, 0, 0.5)
}

.border-short-bottom1 {
    text-decoration: underline;
    font-weight:bold;
    position: relative;
    padding: 20px 0;
    margin-bottom: 25px;
}

.border-short-bottom2 {

    font-weight:bold;
    text-decoration: underline;


}

.border-short-bottom {

    font-weight:bold;
    padding: 20px ;
    margin-bottom: 25px;
}
.img1 {

    font-weight:bold;
    padding: 20px 0;
    margin-bottom: 25px;
}
 /* ขนาด */
.fonta {
    font-size: large;
    font-size :1.5em;
  }





.border-short-bottom::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    background: #595959;
}

@media (max-width: 768px) {
    .display-4 {
        font-size: 2.5rem;
    }
}





/* Section Carousel */

.carousel,
.carousel-inner,
.carousel-item,
.carousel-inner .active {
    height: 100%;
}

.carousel-img {
    width: 100%;
    height: 70%;
    background-size: cover;
    background-position: center;
}

.carousel-caption {
    top: 50%;
}

.backscreen {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}
   /* jarallax fort */
    .ja { background-color: #000;
        filter: alpha(opacity="1");
         opacity: 0.8;}


           /*  background-color form */
  .ja1{ background-color: #778899;

    opacity: 1;
    filter: alpha(opacity=100);}

    .ja2{background-color: #75c6fc;
        filter: alpha(opacity="1");
         opacity: }






/* Section Blog */

.warpper-card-img {
    position: relative;
    overflow: hidden;
}

.warpper-card-img::after {
    content: '';
    padding-top: 56.25%;
    display: block;
    height: 0;
}

.warpper-card-img img {
    position: absolute;
    top: 0;
    transition: 1s;
}

.warpper-card-img img:hover {
    transform: scale(1.2)
}

.btn-group-custom button{
    margin-bottom: 0.5rem;
    width: 100px;
}

.blog-content{
    padding: 50px 100px;
    box-shadow: 0px 0px 10px #a5a5a5;
}

.owl-carousel .card-body{
    height: 150px;
    overflow: hidden;
}

@media (max-width: 991px ){
    .blog-content{
        padding: 40px 50px;
    }
}

@media (max-width: 768px ){
    .blog-content{
        padding: 20px 30px;
    }
}

/* Section Footer */

.semi-footer {
    background: #2b2b2b;
    color: #dcdcdc;
}

.semi-footer a {
    color: #dcdcdc;
}

.semi-footer h4 {
    color: #75c6fc;
    border-bottom: 1px solid;
    padding: 10px 0;
}

.footer {
    background: #000;
    color: #fff;
    font-size: 0.7rem;
    height: 70px;
    line-height: 90px;
    text-align: center;
}
.footer1 {
    background: #000;
    color: #fff;
    font-size: 0.7rem;
    height: 40px;
    line-height: 40px;
    text-align: center;
}





/* Section Navbar */

#navbar {
    padding: 25px;
    transition: 0.5s;
}
#navbar2{
     padding-top: 1px;
   transition: 0.5s;
}

#navbarsearch {

    margin-top: 0px;
    margin-right: 5px;
    margin-left: 5px

}
/* Section pageรูป */
.page-title{
    position: relative;
    display: block;
    padding-top: 250px;
    padding-bottom: 100px;
    color: #fff;
}


/* Section Page-title */
.page-image{
    padding: 200px 0px 120px;
    text-align: center;
    color: #fff ;
    background: rgba(0, 0, 0, 0.5)
}
.page-image1{
    padding: 200px 0px 120px;
    text-align: center;
    color: #fff ;
   )
}







.p{
    float: right;
    text-align: right;

}
.regis-font{
      font-size: 1ch;
}


/* button*/
#buttonone{
	background-color: white;
	border: none;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 40px;
	width: 150px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 25px;
	border: 3px solid white;
}



.column {
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    width: 30%;

    height: 350px;


  }






h2.b-w3ltxt,h3.b-w3ltxt {
    font-size: 4em;
    color: #fff;
    text-shadow: 1px 1px 0px #333;
    font-weight: 100%;
}
h2.b-w3ltxt   {
    color: #00aeff;
}


/*-- banner bottom --*/
.btn-banner1 {
    background: #0a8ea0;
	border: px solid #0a8ea0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 10px 30px;
    display: inline-block;
}
