<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nav</title>
    <link rel="stylesheet" href="c.css">
</head>

<body>
    <header>
        <img class=" " src="" alt="">
        <nav>
            <ul class="nav_links">
                <li><a href="#">s1</a></li>
                <li><a href="#">s2</a></li>
                <li><a href="#">s3</a></li>

            </ul>


        </nav>
        <a class="cta" href="#"><button> conttace </button></a>

    </header>




</body>

</html>